.profile-container-page .profile-container{
    max-width: 380px;
    width: 100%;
}

.profile-container-page .profile-providers{
    margin: 40px 0;
}
 

.profile-container-page .profile-provider span{
    margin-left: 10px
}

.profile-container-page .avatar-container-profile{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
