.container-footer h4 {
  font-weight: bold;
}

.container-links {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.container-section-links a {
  text-decoration: none;
  font-weight: 500;
}

.container-section-redes {
  display: flex;
  flex-direction: column;
}

.container-section-redes input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid white;
}

.container-section-redes input::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: rgb(184, 182, 182);
}

.container-section-redes button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  background-color: white;
  color: #188754;
}

.container-icons {
  display: flex;
  justify-content: center;
  font-size: 2em;
  padding-top: 10px;
}

.container-copyrigth {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container-links {
    flex-wrap: wrap;
  }

  .container-section-links {
    width: 100%;
    text-align: center;
  }

  .container-section-redes input,.container-section-redes button {
    width: auto;
    margin-top: 10px;
  }

  .container-copyrigth {
    margin-top: 50px;
  }
}
